.flex-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat {
  background-color:#E5E5E5;
  width: 256px;
  height: 256px;
  -webkit-box-shadow: 8px 8px 0px -1px rgba(0,0,0,0.09);
  -moz-box-shadow: 8px 8px 0px -1px rgba(0,0,0,0.09);
  box-shadow: 8px 8px 0px -1px rgba(0,0,0,0.09);
}

.chat--header {
  height: 10%;
  background-color: #242F40;
}

.chat--deco {
  margin: 5px;
  float: right;
  height: 10px;
  width: 10px;
  background-color: #CCA43B;
  border-radius: 32px;
}

.chat--footer {
  margin: 8px;
  width: fit-content;
}

.chat--input {
  padding: 6px;
  outline: none;
  border: 0;
  width: 140px;
  height: 12px;
}

.chat--content {
  margin: 8px;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 70%;
  background-color:#FFFFFF;
}





